map "$http_x_key" $backend {
    default                          "static";
    "API_KEY"                         "api";
}

upstream api {
    server api:8080;
}

upstream static {
    server static:80;
}

server {
    listen 80;
    server_name _;

    location / {
        proxy_pass http://$backend;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
